
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* PALETA DE CORES: 
Azul claro: #CBE2FE
Azul escuro: #10288C
*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color:#CBE2FE
}

header {
    background-color: #CBE2FE;
    color: rgb(255, 255, 255);
    text-align : center;
    padding: 20px;
    font-family: 'Italianno', cursive;
    font-size: 1.5em;
    text-shadow: 3px 2px 4px #10288C ;
}

header > .foto-perfil {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 0px 20px #10288C;
    margin-bottom: 30px;
}

header  > .foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;        /* preenche sem distorcer */
    object-position: center;  /* centraliza o rosto */
}

main {
    width: 90%;
    background-color:#FAF9F6;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #10288C;
    transition: width 1s, height 1s;
    transition-timing-function: ease 0.8s;
}

main > h2 {
    color:  #10288C;
    text-shadow: 0px 10px 10px #ccc9c9;
    text-align: 0;
    text-align: center;
    font-family: "italianno", cursive;
    font-size: 2.5em;
    margin-top: 5px;
}

main > p {
    padding: 0 8px;
    color: #10288C;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    text-align: justify;
    text-indent: 10px;
    padding-bottom: 10px;
}

/* Configuração das Fotos */
section#img001 {
    background-image: url(../imagens/Primeiro-Presente.jpeg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#img002 {
    background-image: url(../imagens/Primeiro-foto.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

section#img003 {
    background-image: url(../imagens/Segunda-foto.jpeg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

section#img004 {
    background-image: url(../imagens/foto-uber.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

section#img005 {
    background-image: url(../imagens/foto-show.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

section#img006 {
    background-image: url(../imagens/foto-show2.jpeg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 10px;
}

section#img007 {
    background-image: url(../imagens/aliancas.jpeg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}


legend {
    color:  #10288C;
    text-align: center;
    font-family: "italianno", cursive;
    font-size: 1.8em;
}

/* Configuração de Rodapé */
footer {
    padding: 10px;
}

footer > p.frase{
    text-align: center;
    font-size: 2.3em;
    color: #10288C;
    font-family: 'Italianno', cursive;
}

footer > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #10288C;
    font-size: 1em;
}

footer > p > a {
    text-decoration: none;
    color: #10288C;
}

footer > p > a:hover {
    text-decoration: underline;
}

footer > p > a:visited  {
    color: #10288C;
}